  
 .email-collection {
    align-items: center;
    background-color: #ffffff;
    border-radius: 60.78px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    overflow: hidden;
    padding: 10px 10px;
    position: relative;
    border:lightgray 0.01px solid;
    width: fit-content;
  }
  
  .email-collection .email-collection-input {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    
  }
  
  .email-collection .email-collection-input {
    color: #615f5f;
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: normal;
    margin-top: -0.86px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;

  }
  
  .email-collection .div-wrapper {
    align-items: center;
    background-color: #000000;
    border-radius: 60.78px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 9.35px;
    padding: 10px 20px;
    position: relative;
  }
  .email-collection .sign-up-btn {
    text-decoration: none;
    background: none;
    color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
  }
  
  .email-collection .text-wrapper-4 {
    color: #ffffff;
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: normal;
    margin-top: -0.58px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  @media (max-width: 768px) {
    .email-collection {
      align-items: center;
      background-color: #ffffff;
      border-radius: 60.78px;
      display: inline-flex;
      flex: 0 0 auto;
      gap: 10px;
      overflow: hidden;
      padding: 5px 5px;
      position: relative;
      border:lightgray 0.01px solid;
      width: fit-content;
    }
     
  .email-collection .email-collection-input {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  .email-collection .div-wrapper {
    width: fit-content;
    gap: 0px;
    padding: 10px 10px;
  }
  .email-collection .sign-up-btn {
    width: fit-content;
  }
  }