.Admin-container{
    margin-left: 20%;
    padding: 20px;
    margin-top: 60px;
    display: flex;
    position: relative;
    flex-direction: column;
}
.Admin-container .button-container{
    display: flex;
    font-size: 22px;
    gap: 10px;

}
.Admin-container .add-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}