/* Styles for mobile view */
@media (max-width: 768px) {
    .filter-navbar {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;
        width: 100%;
        padding: 4% 0;
      }
      
      .filter-navbar .city-frame {
        align-items: stretch;
        display: inline-flex;
        flex: 0 0 auto;
        justify-content: flex-start;
        position: relative;
      }
      
      .filter-navbar .text-wrapper {
        color: #000000;
        font-family: 'Freight Sans Pro Medium', sans-serif;
        font-size: 1.1em;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: normal;
        margin-top: -1px;
        position: relative;
        white-space: nowrap;
      }
      .filter-navbar .nav-list-frame {
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 20px;
        justify-content: space-around;
        position: relative;
        overflow: scroll;
      }
      
      .filter-navbar .nav-lists{
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 10px;
        justify-content: center;
        padding: 10px;
        position: relative;
      }
      .filter-navbar .text-wrapper-2 {
        color: #000000;
        font-family: 'Freight Sans Pro Medium', sans-serif;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: normal;
        position: relative;
        white-space: nowrap;
        width: fit-content;
      }
      .filter-navbar .icons{
        font-size: 22px;
      }
}