.head .Location-suggestion{
    display: flex;
    gap: 10px;
    flex: 0 0 auto;
    flex-direction: row;
}
.head .Location-input {
    border: 1px solid rgba(32, 46, 64, .8);
    background:rgba(0, 0, 0, .08);;
    border-color: #000000;
    display: inline-flex;   
    justify-content: center;
    padding: 0px 10px;
    position: relative;
    color: #000000;
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
  }
  .head .Location-input::placeholder{
    color: #000000;
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  } 
  .head .search-button{
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: #000000;
    padding: 0; /* Remove padding to ensure a perfect circle */
    border-radius: 50%;
    width: 40px; /* Set the width */
    height: 40px; /* Set the height to be equal to the width */
    font-size: 28px;
    color: #ffffff; /* Optional: add color to make the text visible */
  }