.head-search{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.head-search .buttons{
    display: flex;
    gap: 20px;
}
.head-search .buttons-btn{
    display: flex;
    background-color: #ffffff;
    border-radius: 50px;
    border:lightgray 0.01px solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    padding: 5px;
    width: 120px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.head-search .buttons-btn button{   
    display: flex;
    border: none;
    background-color: transparent;
    position: relative;
    color: #000000;
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-size: 0.98em;
    font-weight: 500;
    letter-spacing: 0;
    letter-spacing: 1px;
}
.head-search .inputs{
    display: flex;

}