@media screen and (max-width: 768px) {
    .home-container {
        padding:0 4%;
      }
      
      .home-container .items-container {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap: 16px;
          padding:0 4%;
      }
      
}