@import url("https://use.typekit.net/yfs0bso.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
.head {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-color: #aaaaaa;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px 20px;
    width: 100%;
  }
  
  .head .header {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    padding-left:3%;
    position: relative;
    width: 97%;
  }
  
  .head .header-nav-bar {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
    width: 41%;
  }
  
  .head .header-nav-bar-texts {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
    position: relative;
  }
  .head .header-nav-bar-texts a{
    text-decoration: none;
    color: #696363;

  }
  .head .text-wrapper {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 600;
    font-family:  "brandon-grotesque", sans-serif;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .head .logo {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    
    width: fit-content;
  }
  
  .head .westerlieslogo {
    height: 49.08px;
    object-fit: cover;
    position: relative;
    width: 199.43px;

  }
  
  .head .search {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
    padding-left:3%;
    width: 97%;
  }
  
  .head .div-wrapper {
    align-items: center;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .head .text-wrapper-2, .text-wrapper-3 {
    color: #000000;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  } 
  .head .search-disabled{
    display: none;
  }
  .hamburger {
    display: none;
  }