.FreeSearch{
    display: flex;
}
.FreeSearch .FreeSearch-input{
    display: flex;
    width: 400px;
    border-radius: 30px;
    border:lightgray 0.01px solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5px 5px 5px 15px;
    gap: 5px;
  }
  .FreeSearch .FreeSearch-input input{
    display: flex;
    font-family: 'Alegreya', serif;
    font-weight: 100;
    font-size: 1em;
    letter-spacing:1px;
    font-style: normal;
    width: 100%;
    border: none;
  }
  .FreeSearch .FreeSearch-input input::placeholder {
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-weight: 500;
    font-size: 0.90em;
    letter-spacing:0.5px;
    font-style: normal;
    width: 100%;
    text-align: center;
    color: #7f7f7f;
  }
  .FreeSearch .Freesearch-button{
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: #7f7f7f;
    padding: 0; /* Remove padding to ensure a perfect circle */
    border-radius: 50%;
    width: 57px; /* Set the width */
    height: 50px; /* Set the height to be equal to the width */
    font-size: 28px;
    color: #ffffff; /* Optional: add color to make the text visible */
  }
  @media (max-width: 768px) {
    .FreeSearch .FreeSearch-input{
      display: flex;
      width: 300px;
      gap: 5px;
      padding: 5px 5px 5px 5px;
 
    }
    .FreeSearch .FreeSearch-input input{
      font-size: 0.75em;
    }
    .FreeSearch .Freesearch-button{
      width: 47px; /* Set the width */
      height: 40px;
    }
    
  }