.add-container {
    margin-left: 20%;
    padding: 20px;
    margin-top: 60px;
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: fit-content;
}
.add-container .add-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.add-container .form-button{
    display: flex;
    align-items: flex-end;
    max-width: fit-content;
    justify-content: center;
}
.add-container .row{
    padding: 20px 0px;
}
.add-container .address-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}